%section.people
  %header
    %h2 All Users
  %table.table
    %thead
      %tr
        %th(width="20%") User Photo
        %th(width="30%") User Name
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
    %tbody
      - @users.each do |user|
        %tr
          %td
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(user.email.downcase)}?s=40")
          %td.extra-padding= link_to user.full_name, user
          %td.extra-padding= user.queue_items.size
          %td.extra-padding= user.leading_relationships.size
  

= render 'shared/analytics'