= render 'shared/close_button'
%section.my_queue(style="background: #F7F7F7; padding: 20px")
  .row
    .col-md-12
      %header
        %h2 My Queue
      = form_tag update_queue_items_path do
        %table.table
          %thead
            %tr
              %th(width="10%") List Order
              %th(width="30%") Video Title
              %th(width="10%") Play
              %th(width="20%") Rating
              %th(width="15%") Remove
          %tbody
            - @queue_items.each do |queue_item|
              %tr
                = hidden_field_tag "queue_items[][id]", queue_item.id
                %td= text_field_tag "queue_items[][position]", queue_item.position, class:'form-control'
                %td
                  = link_to movie(queue_item.video_id)["title"], video_path(queue_item.video_id), remote: true
                %td
                  = button_to "Play", nil, class: "btn btn-default"
                %td
                  = select_tag "queue_items[][rating]", options_for_video_reviews(queue_item.rating), include_blank: true
                %td
                  = link_to queue_item, method: :delete do
                    %i.fa.fa-remove
            - @queue_items.each do |queue_item|
              %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{queue_item.video_id}"}  
        = submit_tag "Update Instant Queue", class: "btn btn-default"


#movie_show_details

#category_show_page

= render 'videos/modal_trigger'

= render 'shared/analytics'
