%h2= "#{@user.full_name}'s movie collection"
.videos.row
  - @queued_videos.each  do |queue_item|
    = link_to movie_show_page_video_path(queue_item.video), remote: :true, method: :get  do
      .video.col-sm-2.trigger
        %img(src="#{queue_item.video.image_url["small_img"]}" title="#{queue_item.video.title}")
  
  - @queued_videos.each  do |queue_item|
    %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{queue_item.video.id}"}


