%section.user-banner-container
  .row
    .col-md-12
      - if @user != current_user
        %button.btn.btn-default
          -if current_user.follows?(@user)
            Following
          -else
            =link_to "Follow", friendships_path(friend_id: @user), method: :post, class: "btn"
  .row.nav-and-profile
    %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=40")

    %ul.nav.nav-tabs
      - if params[:tab] == "my-movie-world" || params[:tab] == nil
        %li.active
          = link_to user_path(@user, tab:"my-movie-world") do 
            %span.mworld
      -else
        %li
          = link_to user_path(@user, tab:"my-movie-world") do 
            %span.mworld
      - if params[:tab] == "ratings-and-reviews"
        %li.active
          = link_to user_path(@user, tab:"ratings-and-reviews") do 
            %span.review
      - else
        %li
          = link_to user_path(@user, tab:"ratings-and-reviews") do 
            %span.review
      - if params[:tab] == "social"
        %li.active
          = link_to user_path(@user, tab:"social") do 
            %span.people
      - else
        %li
          = link_to user_path(@user, tab:"social") do 
            %span.people

.user_page
  - if params[:tab] == "social"
    = render 'users/people'
  - elsif params[:tab] == "my-movie-world" || params[:tab] == nil
    = render 'users/movie_world'
  -elsif params[:tab] == "ratings-and-reviews"
    = render 'users/reviews'
    
