= render 'shared/close_button'
%section.my_favourites(style=" padding: 20px; width: 100%")
  .row(style="width: 100%; padding: 0; margin:0")
    %header(style="margin-bottom: 20px")
      %h2(style="color: #a90329; font-size: 1.3em") Favourite Movies
    .col-md-12(style="background: #F7F7F7; width: 100%; margin: 0 auto; padding-top: 20px")
    - cache 'favourite' do
      %table.table(style="background:#F7F7F7; padding: 20px; width: 100%; ")
        %thead
          %tr
            %th(width="15%" style="font-weight: bold") Title
            %th(width="5%" style="font-weight: bold") Year
            %th(width="25%" style="font-weight: bold") Genres
            %th(width="10%" style="font-weight: bold") Director
            %th(width="10%" style="font-weight: bold") Box Office
            %th(width="5%" style="font-weight: bold") Remove
        %tbody
          - @favourites.each do |favourite|         
            %tr
              %td
                = link_to movie(favourite.video_id)["title"], video_path(favourite.video_id)

              %td 
                = movie_year(movie(favourite.video_id)["release_date"])

              %td
                - if movie(favourite.video_id)["genres"] != nil
                  - movie(favourite.video_id)["genres"].each do |genre|
                    %span.badge(style="float:left; margin: 5px")
                      = genre["name"]
              %td
                = director(favourite.video_id)
             
              %td 
                = "$#{format_number(movie(favourite.video_id)["revenue"])}"

              %td
                = link_to favourite, method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...' } do
                  %i.fa.fa-remove
          - @favourites.each do |favourite|
            %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{favourite.video_id}"}  
 


#movie_show_details

#category_show_page

= render 'videos/modal_trigger'

= render 'shared/analytics'
