.average_rating_container
  %table.av_rating
    %tr
      %td.av_rating_td
        = image_tag 'star_five.png', width:'90', height:'15'
      %td
        #five_stars
          %div
  %table.av_rating
    %tr
      %td.av_rating_td
        = image_tag 'star_four.png', width:'90', height:'15'
      %td
        #four_stars
          %div
  %table.av_rating
    %tr
      %td.av_rating_td
        = image_tag 'star_three.png', width:'90', height:'15'
      %td
        #three_stars
          %div
  %table.av_rating
    %tr
      %td.av_rating_td
        = image_tag 'star_two.png', width:'90', height:'15'
      %td
        #two_stars
          %div
  %table.av_rating
    %tr
      %td.av_rating_td
        = image_tag 'star_one.png', width:'90', height:'15'
      %td
        #one_star
          %div

= render 'videos/average_rating_javascript'