%article.video
  .row
    .video_large_cover.col-sm-8 
      %iframe#player{:allowfullscreen => "true", :allowscriptaccess => "always", :frameborder => "0", :src => "http://www.youtube.com/embed/#{@trailer1}?enablejsapi=1&version=3&playerapiid=ytplayer&rel=0&modestbranding=1&autohide=1&showinfo=0&autoplay=1&loop=1&playlist=#{@trailer2.present? ? @trailer2 : @trailer1 }&controls=0"}
               
    .video_info.col-sm-4
      %header
        %h3 
          = movie.title
      %hr
      %p.description(style="max-height:240px; overflow-y: scroll") 
        = movie.overview
      .actions
        %a.btn.btn-primary(href="") Watch Trailer
        %span.queue_button
          = link_to "Add to queue", add_queue_item_path(video_id: movie.id), method: "post", remote: true, class: "btn btn-default" if !current_user.queued_video?(movie.id)

.video_show_sub_links
  %ul.nav.nav-tabs
    - if params[:tab] == "reviews" || params[:tab] == nil
      %li.active= link_to "Reviews(#{@reviews.size})", video_path(movie, tab: 'reviews')
    - else
      %li= link_to "Reviews(#{@reviews.size})", video_path(movie, tab: 'reviews')


    / - if params[:tab]== "stats"
    /   %li.active= link_to "Stats", video_path(video, tab:"stats")
    / - else
    /   %li= link_to "Stats", video_path(video, tab:"stats")

   
.video_show_sub_container
  - if params[:tab] == "stats"
    %p yess i'm nil
  - else
    %section#cd-timeline.cd-container
      .row
        .col-sm-10.col-sm-offset-1
          / total average rating per movie
          = render 'average_rating_stars'
          #flying_bee
          <br />
          %br
          = form_for Review.new, remote: :true do |f|
            .review_form_container(style="background:white")
              .movie_rating(style="text-align: center")
                = f.radio_button :rating, 0, checked:'checked'
                %span#hide
                - (1..5).each do |rate|
                  = f.radio_button :rating, rate
                  %span  
              = f.hidden_field :video_id, value: @movie.id            
              = f.text_area :review, placeholder: "Enter review here", class: 'form-control', rows:'6', required: 'required'
            = f.submit "Post review", class: 'btn btn-default review_button'
      
      - @reviews.each do |review|
        = render 'reviews/review', review: review

= render 'average_rating_javascript'

= render 'shared/analytics'

:javascript
  $(document).ready(function(){
    $('#modal_close').on('click', function(){
       $('#player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');   
      $
    })  
  })
