%article.video
  .row
    .video_large_cover.col-md-12(style="padding:0")  
      - if !@trailer1.present?
        - if backdrops.size < 2
          %img(src="http://image.tmdb.org/t/p/w780#{backdrops.first}")
        - else
          .owl-carousel.video-show
            - backdrops.each do |backdrop|
              .item
                %img(src="http://image.tmdb.org/t/p/w780#{backdrop}")
      - elsif @trailer1.present?
        %iframe#player{:allowfullscreen => "true", :allowscriptaccess => "always", :frameborder => "0", :src => "http://www.youtube.com/embed/#{@trailer1}?enablejsapi=1&version=3&playerapiid=ytplayer&rel=0&modestbranding=1&autohide=1&showinfo=0&autoplay=1&loop=1&playlist=#{@trailer2.present? ? @trailer2 : @trailer1 }&controls=1"}
  
  .row          
    .col-md-12.similar(style="height:250px;margin-top:-5px") 
      %h3(style="color:white; padding:10px 0 0 10px") Similar Movies
      .owl-carousel.video-similar
        - if !@similar.empty?
          - @similar.each do |video|
            = link_to video_path(video.id) do
              .item
                .video.col-sm-2.trigger(style="width:135px; height: 170px")
                  %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}" style="width:120px; height: 155px")
        - else
          - @similar_genre_movies.each do |video|
            = link_to video_path(video.id) do
              .item
                .video.col-sm-2.trigger(style="width:135px; height: 170px")
                  %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}" style="width:120px; height: 155px")

      .owl-carousel.video-id-hidden
        - if !@similar.empty?
          - @similar.each do |video|
            %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}
        - else 
          - @similar_genre_movies.each do |video|
            %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}



.video_show_sub_links
  %ul.nav.nav-tabs
    - if params[:tab]== "info" || params[:tab] == nil
      %li.active= link_to "Info", video_path(@movie.id, tab:"info")
    - else
      %li= link_to "Info", video_path(@movie.id, tab:"info") 


    - if params[:tab] == "reviews" 
      %li.active= link_to "Reviews", video_path(@movie.id, tab: 'reviews')
    - else
      %li= link_to "Reviews", video_path(@movie.id, tab: 'reviews')




   
.video_show_sub_container
  - if params[:tab] == "info" || params[:tab] == nil
    = render 'videos/movies_info'
  - elsif params[:tab] = "reviews"
    %section#cd-timeline.cd-container
      .row
        .col-sm-10.col-sm-offset-1
          / total average rating per movie
          = render 'average_rating_stars'
          #flying_bee
          <br />
          %br
          = form_for Review.new, remote: :true do |f|
            .review_form_container(style="background:white")
              .movie_rating(style="text-align: center")
                = f.radio_button :rating, 0, checked:'checked'
                %span#hide
                - (1..5).each do |rate|
                  = f.radio_button :rating, rate
                  %span      
              = f.hidden_field :video_id, value: @movie.id       
              = f.text_area :review, placeholder: "Enter review here", class: 'form-control', rows:'6', required: 'required'
            = f.submit "Post review", class: 'btn btn-default review_button'
      
      - @reviews.each do |review|
        = render 'reviews/review', review: review



= render 'average_rating_javascript'

= render 'shared/analytics'

= render 'similar_videos_js.html.haml'

:javascript
  $(document).ready(function(){
    $('#modal_close').on('click', function(){
       $('#player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');   
      $
    })  
  })

