= render 'shared/close_button'
/ - @categories.results.each do |category|
/   .movies-index
/     = category
/     = link_to category.name, category, class:"category_link"
/     %span.category_page_trigger.hidden{"data-dialog" => "category_show_page", :id => "category_#{category.id}"}


/ FANTASY
.movies-index
  = link_to 'Fantasy', genre_show_video_path(@fantasy.id, genre: "Fantasy"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @fantasy.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @fantasy.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}   


/ ANIMATIONS
.movies-index
  = link_to 'Animations', genre_show_video_path(@animations.id, genre: "Animations"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @animations.results.each do |video|
        = link_to video_path(video.id), remote: :true do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @animations.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ ACTION
.movies-index
  = link_to 'Action', genre_show_video_path(@action.id, genre: "Action"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @action.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @action.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ ADVENTURE
.movies-index
  = link_to 'Adventure', genre_show_video_path(@adventure.id, genre: "Adventure"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @adventure.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @adventure.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ COMEDY
.movies-index
  = link_to 'Comedy', genre_show_video_path(@adventure.id, genre: "Comedy"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @comedy.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @comedy.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ CRIME
.movies-index
  = link_to 'Crime', genre_show_video_path(@crime.id, genre: "Crime"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @crime.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @crime.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ DOCUMENTARY
.movies-index
  = link_to 'Documentary', genre_show_video_path(@documentary.id, genre: "Documentary"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @documentary.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @documentary.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ FOREIGN
.movies-index
  = link_to 'Foreign', genre_show_video_path(@foreign.id, genre: "Foreign"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @foreign.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @foreign.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ HISTORY
.movies-index
  = link_to 'History', genre_show_video_path(@history, genre: "History"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @history.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @history.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ HORROR
.movies-index
  = link_to 'Horror', genre_show_video_path(@horror.id, genre: "Horror"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @horror.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @horror.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ MUSIC
.movies-index
  = link_to 'Music', genre_show_video_path(@music.id, genre: "Music"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @music.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @music.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ MYSTERY
.movies-index
  = link_to 'Mystery', genre_show_video_path(@mystery.id, genre: "Mystery"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @mystery.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @mystery.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ ROMANCE
.movies-index
  = link_to 'Romance', genre_show_video_path(@romance.id, genre: "Romance"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @romance.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @romance.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ SCIENCE FICTION
.movies-index
  = link_to 'Science Fiction', genre_show_video_path(@science_fiction.id, genre: "Science Fiction"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @science_fiction.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @science_fiction.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}
          

/ TV MOVIE
.movies-index
  = link_to 'Tv Movie', genre_show_video_path(@tv_movie.id, genre: "Tv Movie"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @tv_movie.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @tv_movie.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ THRILLER
.movies-index
  = link_to 'Thriller', genre_show_video_path(@thriller.id, genre: "Thriller"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @thriller.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @thriller.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ WAR
.movies-index
  = link_to 'War', genre_show_video_path(@war.id, genre: "War"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @war.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @war.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


/ WESTERN
.movies-index
  = link_to 'Western', genre_show_video_path(@western.id, genre: "Western"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @western.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @western.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}

/ DRAMA
.movies-index
  = link_to 'Drama', genre_show_video_path(@drama.id, "Drama"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @drama.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @drama.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}

/ FAMILY
.movies-index
  = link_to 'Family', genre_show_video_path(@family.id, genre: "Family"), class:"category_link"
  .row
    .owl-carousel.video-index
      - @family.results.each do |video|
        = link_to video_path(video.id), remote: :true, method: :get  do
          .item
            .video.col-sm-2.trigger
              %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    .owl-carousel.video-id-hidden
      - @family.results.each do |video|
        %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}


= render 'modal_trigger'

#movie_show_details

#category_show_page

= render 'shared/analytics'