= render 'shared/close_button'
- @categories.each do |category|
  .movies-index
    = link_to category.name, category, class:"category_link"
    %span.category_page_trigger.hidden{"data-dialog" => "category_show_page", :id => "category_#{category.id}"}
    .row
      .owl-carousel.video-index
        - category.videos.each do |video|
          = link_to movie_show_page_video_path(video), remote: :true, method: :get  do
            .item
              .video.col-sm-2.trigger
                %img(src="#{video.image_url["small_img"]}" title="#{video.title}")

      .owl-carousel.video-id-hidden
        - category.videos.each do |video|
          %span.movie_page_trigger{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}
          
              

#movie_show_details

#category_show_page

= render 'shared/analytics'