= render 'shared/close_button'
.videos.row
  - if @movie.empty?
    %p(style="margin-top: 200px") Sorry no result found
  - else
    - @movie.each do |video|
      .video.col-sm-2
        = link_to video_path(video.id), remote: :true, method: :get  do
          %img(src="http://image.tmdb.org/t/p/w154#{video.poster_path}" title="#{video.title}")

    - @movie.each do |video|
      %span.movie_page_trigger.hidden{"data-dialog" => "movie_show_details", :id => "movie_#{video.id}"}

#movie_show_details

= render 'shared/analytics'
