%header.cd-main-header
  - if logged_in?
    %a.cd-nav-trigger{:href => "#0"}
      %span
  = link_to home_path, class:"cd-logo" do
    = image_tag "home.svg", alt:"Logo", height:"50", width:"50"
       
  .cd-search.c-ripple.js-ripple 
    = form_tag(search_videos_path, method: "post") do
      %input(id="q" name="q" type="text" placeholder="Search...")
      = submit_tag("Search", class:"search_submit")
      .c-ripple__circle
  
  - if logged_in?
    %nav.cd-nav
      %ul.cd-top-nav
        %li.has-children
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?s=40" class="profile-picture")
          %ul.dropdown-menu.user-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              = link_to 'Profile', user_path(current_user)
              = link_to 'Sign Out', sign_out_path
  - else
    %nav.cd-nav
      %button.md-trigger.md-setperspective.login_button(style="margin-right:15px" data-modal="modal-18") Login/Signup
      / %p= link_to "Login", sign_in_path, remote: true 
      / %p= link_to "Signup", register_path, remote: true
  

:javascript
  ;(function($, window, document, undefined) {

    'use strict';

    var $ripple = $('.js-ripple');

    $ripple.on('click.ui.ripple', function(e) {

      var $this = $(this);
      var $offset = $this.parent().offset();
      var $circle = $this.find('.c-ripple__circle');

      var x = e.pageX - $offset.left;
      var y = e.pageY - $offset.top;

      $circle.css({
        top: y + 'px',
        left: x + 'px'
      });

      $this.addClass('is-active');

    });

    $ripple.on('animationend webkitAnimationEnd oanimationend MSAnimationEnd', function(e) {
      $(this).removeClass('is-active');
    });
  })(jQuery, window, document);
