%form
  %ul.z-nav-links
    %li
      = link_to home_path do
        %img(src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-aqua/foundation/foundation_home/foundation_home_flat-circle-white-on-aqua_512x512.png" width="34" heigth="34")
        %span
          Home  
    %li
      = link_to queue_items_path do
        %img(src="http://www.lifeisajourney.org/wp-content/uploads/2013/03/Watch-N-Listen-Red-Movie-Icon1.png" width="34" height="34")
        %span
          My Queue
    %li
      = link_to people_path do
        = image_tag 'people.svg', width:"34", height:"34"
        %span
          Following
    %li
      = link_to favourites_path do
        %img(src="https://cdn3.iconfinder.com/data/icons/complete-set-icons/512/favourite512x512.png" width="34" height="34")
        %span
          Favourites
    
    %li
      %img(src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_done_clr_24dp_r4.png")
      %span
        Actors

:javascript
  var active_link = active_link || {};
  active_link.href =  window.location.pathname;
  $( "a[href$= '"+active_link.href+"']" ).addClass('active')
  