= form_for [@video, @review], remote: :true do |f|
  = f.label :ratings
  = f.select(:rating, options_for_video_reviews)
  
  = f.text_area :review, placeholder: "Enter review here", class: 'form-control', rows:'6'
  %br
  = f.submit "Submit review", class: 'btn btn-success'