!!! 5
%html(lang="en-US")
  %head
    %title The Movie Social Network
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", media: 'all'
    = javascript_include_tag "application"
  - if logged_in?
    %body  
      = render 'shared/messages'
      = render 'shared/header'
      %main.cd-main-content.is-fixed
        %section.cd-gallery
          = yield
        .cd-filter
          = render 'shared/sidebar'
        %a.cd-nav-trigger{:href => "#"}
      %hr
      %h3.footer_text &copy 2016 plsma
  - else
    %body.front_page
      %section.content.clearfix
        = render 'shared/messages'
        = yield
      %hr
      %h3.footer_text &copy 2016 plsma
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'dialogFx', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.10/jquery.scrollbar.min.js', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'filter_main', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 

  :javascript
    $('div.alert.alert-danger.fade.in, ul.alert.alert-danger, div.alert.alert-info.fade.in').delay(5000).fadeOut(300);

     var href = window.location.pathname
     var path_name = href.substr(href.lastIndexOf('/') + 1)
    if (path_name != "genre_show"){
       jQuery(document).ready(function(){  
        var dlg;
        $('.movie_page_trigger, .category_page_trigger').on('click', function() {
          var id = $(this).attr('data-dialog')
           dlg = new DialogFx($("#" +id + "").get(0));
          dlg.toggle();
          });

        $('#modal_close').on('click', function(){
           if (dlg != undefined ){
            dlg.toggle();
            }
          alert("I'm executing")
          })

        });     
    }


    jQuery(document).ready(function(){   
      jQuery(".owl-carousel.video-index").owlCarousel({
          margin:2,
          autoplay:true,
          autoplayHoverPause:true,
          dots:false,
          nav:true,
          lazyLoad : true,
          responsive:{
              0:{
                  items:2,
              },
              500:{
                  items:3,
              },
              700:{
                  items:4,
              },
              1130:{
                  items:6,
              }
          }
        });

      jQuery(".owl-carousel.video-id-hidden").owlCarousel({
            dots:false,
      });

      jQuery(".owl-carousel.video-show").owlCarousel({
        loop:true,
        margin:5,
        autoplayHoverPause:true,
        dots:true,
        responsive:{
            0:{
                items:1,
            }
          }
      });
    });

   