!!! 5
%html(lang="en-US")
  %head
    %title The Movie Social Network
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", media: 'all'
    = javascript_include_tag "application"
  - if logged_in?
    %body  
      = render 'shared/messages'
      = render 'shared/header'
      %main.cd-main-content.is-fixed
        %section.cd-gallery
          = yield
        .cd-filter
          = render 'shared/sidebar'
        %a.cd-nav-trigger{:href => "#"}
      %hr
      %h3.footer_text &copy 2016 plsma
  - else
    %body.front_page
      %section.content.clearfix
        = render 'shared/messages'
        = yield
      %hr
      %h3.footer_text &copy 2016 plsma
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  / = javascript_include_tag 'jquery.mousewheel.min', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'dialogFx', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.10/jquery.scrollbar.min.js', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'filter_main', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 
  = javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => true 

  :javascript
    $('div.alert.alert-danger.fade.in, ul.alert.alert-danger, div.alert.alert-info.fade.in').delay(5000).fadeOut(300);
   
    $(document).ready(function(){   
      var owl = $(".owl-carousel.video-index");
      owl.owlCarousel({
        items : 5, //10 items above 1000px browser width
        itemsDesktop : [1000,5], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,4], // betweem 900px and 601px
        itemsTablet: [700,3], //2 items between 600 and 0
        itemsMobile :[510,2], // itemsMobile disabled - inherit from itemsTablet option
        loop:true,
        margin:10,
       
      });
      // 
      owl.on('mousewheel', '.owl-wrapper', function (e) {
        $(this).trigger('owl.play',5000);
      });
      
      $(".owl-carousel.video-id-hidden").owlCarousel({
            dots:false,
      });
      $("p.overview").scrollbar();
      $(".owl-carousel.video-show").owlCarousel({
        items : 1, //10 items above 1000px browser width
        itemsDesktop : [1000,1], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,1], // betweem 900px and 601px
        itemsTablet: [700,1], //2 items between 600 and 0
        itemsMobile :[510,1], // itemsMobile disabled - inherit from itemsTablet option
        loop:true,
        nav:true,
        dots:true,
        margin:10,
      });

      $(".owl-carousel.video-show").on('mousewheel', '.owl-wrapper', function (e) {
        $(this).trigger('owl.play',5000);
      }); 
    });

   