!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - a video on demand service
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", media: 'all'
    = javascript_include_tag "application"
  %body
    - if logged_in?
      %header
        = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      / = flash_messages
      = yield

